/* ============================================================
   PAYPAL / DONATION MODULE
   ============================================================ */
.paypal-gateway-container { width: 100%; }
.paypal-gateway-content {
    background: #fef2da; border: 3px solid #f79433;
    padding: 15px; overflow: auto; border-radius: 5px; font-weight: 700;
}
.paypal-gateway-logo {
    width: 100%; height: 100px;
    background: #fff9ec no-repeat center; background-size: contain;
    margin-bottom: 15px; border-radius: 5px;
}
.paypal-gateway-conversion-rate { margin: 0 auto; text-align: center; color: #000; font-size: 18px; padding: 10px 0; }
.paypal-gateway-form { width: 100%; margin: 20px auto; text-align: center; }
.paypal-gateway-form div { display: inline-block; padding: 0 10px; color: #000; font-size: 24px; }
.paypal-gateway-form input[type=text] { width: 60px; font-size: 24px; border: 3px solid #f79433; border-radius: 5px; color: #f79433; }
.paypal-gateway-continue { margin: 0 auto; text-align: center; }
